.results-container {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 35%;
  margin: 150px auto 50px auto;
}


.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.summary-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media (max-width: 1050px) {
  .results-container {
    max-width: 45%;
  }
}

@media (max-width: 950px) {
  .results-container {
    max-width: 55%;
  }

  .category-grid {
    grid-template-columns: 1fr;
  }

  .summary-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .results-container {
    max-width: 65%;
  }
}
